<!DOCTYPE html>
<html>
	<head>
		<title>Ekart</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="./css/mens.css">
	</head>
	<body>
		<nav class="nav navbar-fixed-top navbar-inverse nave">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mynavBar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="index.html" class="navbar-brand">Ekart</a>
				</div>
				<div class="collapse navbar-collapse" id="mynavBar">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="cart.html"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
						<li><a href="settings.html"><span class="glyphicon glyphicon-user"></span> Settings</a></li>
						<li><a href="logout.html"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="container panel-margin">
			<div class="jumbotron">
				<h1>Welcome to Ekart Store</h1>
				<p>We have the best Electronics items for you. we have all in one place.</p>
			</div>
			<div class="row text-center">
				<div class="col-md-3 col-sm-6">
					<div class="thumbnail">
						<img src="./image/1.jpg" alt="Ladies">
						<div class="caption">
							<h3>Nikon</h3>
							<p>Price: <i class="fa fa-rupee"></i> 39,999</p>
							<button type="button" class="btn btn-danger">Add to cart</button>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="thumbnail">
						<img src="./image/2.jpg" alt="Ladies">
						<div class="caption">
							<h3>Samsung</h3>
							<p>Price: <i class="fa fa-rupee"></i> 45,999</p>
							<button type="button" class="btn btn-danger">Add to cart</button>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="thumbnail">
						<img src="./image/3.jpg" alt="Ladies">
						<div class="caption">
							<h3>Sony</h3>
							<p>Price: <i class="fa fa-rupee"></i> 59,949</p>
							<button type="button" class="btn btn-danger">Add to cart</button>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="thumbnail">
						<img src="./image/4.jpg" alt="Ladies">
						<div class="caption">
							<h3>OLYMPUS</h3>
							<p>Price: <i class="fa fa-rupee"></i> 89,990</p>
							<button type="button" class="btn btn-danger">Add to cart</button>
						</div>
					</div>
				</div>
			</div>
			<div class="row text-center">
				<div class="col-md-3 col-sm-6">
					<div class="thumbnail">
						<img src="./image/5.jpg" alt="Ladies">
						<div class="caption">
							<h3>CANON</h3>
							<p>Price: <i class="fa fa-rupee"></i> 49,990</p>
							<button type="button" class="btn btn-danger">Add to cart</button>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="thumbnail">
						<img src="./image/phone1.jpg" alt="OPPO">
						<div class="caption">
							<h3>OPPO A12</h3>
							<p>Price: <i class="fa fa-rupee"></i> 14,999</p>
							<button type="button" class="btn btn-danger">Add to cart</button>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="thumbnail">
						<img src="./image/phone2.jpg" alt="ONE PLUS">
						<div class="caption">
							<h3>ONE PLUS 8</h3>
							<p>Price: <i class="fa fa-rupee"></i> 39,999</p>
							<button type="button" class="btn btn-danger">Add to cart</button>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="thumbnail">
						<img src="./image/phone3.jpg" alt="REALME">
						<div class="caption">
							<h3>REALME V50</h3>
							<p>Price: <i class="fa fa-rupee"></i> 45,999</p>
							<button type="button" class="btn btn-danger">Add to cart</button>
						</div>
					</div>
				</div>
			</div>
			<div class="row text-center">
				<div class="col-md-3 col-sm-6">
					<div class="thumbnail">
						<img src="./image/Phone 4.jpg" alt="OPPO">
						<div class="caption">
							<h3>OPPO A5 </h3>
							<p>Price: <i class="fa fa-rupee"></i> 9,999</p>
							<button type="button" class="btn btn-danger">Add to cart</button>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="thumbnail">
						<img src="./image/phone 5.jpg" alt="redmi k30">
						<div class="caption">
							<h3>Redmi K30</h3>
							<p>Price: <i class="fa fa-rupee"></i> 21,499</p>
							<button type="button" class="btn btn-danger">Add to cart</button>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="thumbnail">
						<img src="./image/phone 6.jpg" alt="Samsung">
						<div class="caption">
							<h3>Samsung S21</h3>
							<p>Price: <i class="fa fa-rupee"></i> 69,000</p>
							<button type="button" class="btn btn-danger">Add to cart</button>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="thumbnail">
						<img src="./image/phone 7.jpg" alt="Apple">
						<div class="caption">
							<h3>Apple iphone 11</h3>
							<p>Price: <i class="fa fa-rupee"></i> 71,999</p>
							<button type="button" class="btn btn-danger">Add to cart</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer class="footer">
			Copyright<span class="glyphicon glyphicon-copyright-mark"></span>; EKart. All Rights Reserved.
		</footer>
	</body>
</html>