<!DOCTYPE html>
<head>
<title>E-Kart</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link 
rel="stylesheet" 
href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" 
integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" 
crossorigin="anonymous">
<link href="/css/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
     <nav class="nav navbar-fixed-top navbar-inverse nave">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mynavBar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand">Ekart</a>
            </div>
            <div class="collapse navbar-collapse" id="mynavBar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    <li><a href="register"><span class="glyphicon glyphicon-user"></span> Register</a></li>
                    <li class="cart">
                        <a href="kart"><span class="glyphicon glyphicon-shopping-cart"></span> Cart <span>0</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="content">
        <div class="banner-image">
            <div class="inner-banner">
                <center>
                    <div class="banner-content">
                        <h1>Welcome to E-Kart</h1>
                        <a href="./pages/login.html" target="_blank">
                            <center>
                                <button class="btn btn-danger btn-lg active">Shop Now</button>
                            </center>
                        </a>
                    </div>
                </center>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="items">
            <a href="#">
                <img src="/image/le_reve_1_0.jpg" alt="Mens Collection" class="thumbnail">
                    <div class="caption">         
                        <a href="mens">
                            <button class="btn btn-danger btn-lg active">Men's Collections</button>
                        </a>
                        <p></p>
                    </div>
            </a>
        </div>
        <div class="items">
            <a href="#">
                <img src="/image/unnamed (1).jpg" alt="Ladies Collection" class="thumbnail">
                    <div class="caption">         
                        <a href="ladies">
                            <button class="btn btn-danger btn-lg active">Ladies Collections</button>
                        </a>
                        <p></p>
                    </div>
            </a>
        </div>
        <div class="items">
            <a href="#">
                <img src="/image/camera.jpg" alt="Electronics Collection" class="thumbnail">
                    <div class="caption">         
                        <a href="electronics">
                            <button class="btn btn-danger btn-lg active">Electronics Collections</button>
                        </a>
                        <p></p>
                    </div>
            </a>
        </div>
    </div>
    <footer>
        <section class="sec-1" id="footer">
            <section class="about">
                <h2>ABOUT</h2>
                <p>This is a online shopping website also termed as E-Commerce Website. We have integrated a huge number of trusted manufacturers to provide you with you with best services and also provide after-sales servies without any difficulty.</p>
            </section>
            <section class="link1">
                <h2>CATEGORIES </h2>
                <ul>
                    <li><a href="#">MENS SECTION</a></li>
                    <li><a href="#">WOMAN SECTION</a></li>
                    <li><a href="#">ELECTRONICS</a></li>
                    <li><a href="#">KIDS FASHION</a></li>
                    <li><a href="#">VLOGS</a></li>
                    <li><a href="#">BEST DEALS</a></li>
                </ul>
            </section>
            <section class="link2">
                <h2>QUICK LINKS</h2>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Contribute</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Sitemap</a></li>
                    <li><a href="#">Disclaimer</a></li>
                </ul>
            </section>
            <section class="link3">
                <h2>CONTACT US</h2>
                <ul>
                    <li><i class="fa fa-home"></i><span>GLA University, Mathura</span></li>
                    <li><i class="fa fa-envelope"></i><span>shivamkmr335.github.io</span></li>
                    <li><i class="fa fa-phone-square"></i><span>Mobile:7007282335</span></li>
                    <li><i class="fa fa-phone-square"></i><span>Mobile:8953336039</span></li>
                    <li><i class="fa fa-facebook-official"></i><span><a href="#">E-Commerce Website</a></span></li>
                </ul>
            </section>
        </section>
        <hr width="100%" noshade/> 
        <section class="sec-2">
            <p>Register For Free <span><a href="./sign-up.html">SignUp!</a></span></p>

        </section>
        <hr width="100%" noshade/>
        <section class="sec-3">
            <ul>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
            </ul>
        </section>
        <hr width="100%" noshade/>
        <section class="sec-4">
            <p>Copyright © 2020 All Rights Reserved by
                <a href="https://www.beta-labs.in">Majak</a>
            </p>
        </section>
    </footer>
</body>
</html>