<!DOCTYPE html>
<html>
	<head>
		<title>Ekart</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="./css/mens.css">
	</head>
	<body>
		<nav class="nav navbar-fixed-top navbar-inverse nave">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mynavBar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="index.html" class="navbar-brand">Ekart</a>
				</div>
				<div class="collapse navbar-collapse" id="mynavBar">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="cart.html"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li>
						<li><a href="settings.html"><span class="glyphicon glyphicon-user"></span> Settings</a></li>
						<li><a href="logout.html"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="container panel-margin">
			<div class="jumbotron">
				<h1>Welcome to Ekart Store</h1>
				<p>We have the best shirts,Jeans and many more for you. we have all in one place.</p>
			</div>
			<div class="row text-center">
				<div class="col-md-3 col-sm-6">
					<div class="thumbnail">
						<img src="./image/ladies 1.jpg" alt="Ladies">
						<div class="caption">
							<h3>Shirt 1</h3>
							<p>Price: <i class="fa fa-rupee"></i> 1900</p>
							<button type="button" class="btn btn-danger">Add to cart</button>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="thumbnail">
						<img src="./image/ladies 2.jpg" alt="Ladies">
						<div class="caption">
							<h3>Shirt 2</h3>
							<p>Price: <i class="fa fa-rupee"></i> 1200</p>
							<button type="button" class="btn btn-danger">Add to cart</button>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="thumbnail">
						<img src="./image/ladies 3.jpg" alt="Ladies">
						<div class="caption">
							<h3>Shirt 3</h3>
							<p>Price: <i class="fa fa-rupee"></i> 1499</p>
							<button type="button" class="btn btn-danger">Add to cart</button>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="thumbnail">
						<img src="./image/ladies 4.jpg" alt="Ladies">
						<div class="caption">
							<h3>Saree 1</h3>
							<p>Price: <i class="fa fa-rupee"></i> 899</p>
							<button type="button" class="btn btn-danger">Add to cart</button>
						</div>
					</div>
				</div>
			</div>
			<div class="row text-center">
				<div class="col-md-3 col-sm-6">
					<div class="thumbnail">
						<img src="./image/ladies 5.jpg" alt="Ladies">
						<div class="caption">
							<h3>Saree 2</h3>
							<p>Price: <i class="fa fa-rupee"></i> 1399</p>
							<button type="button" class="btn btn-danger">Add to cart</button>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="thumbnail">
						<img src="./image/ladies 6.jpg" alt="Ladies">
						<div class="caption">
							<h3>Saree 3</h3>
							<p>Price: <i class="fa fa-rupee"></i> 1520</p>
							<button type="button" class="btn btn-danger">Add to cart</button>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="thumbnail">
						<img src="./image/ladies 10.jpg" alt="ladies">
						<div class="caption">
							<h3>Jeans</h3>
							<p>Price: <i class="fa fa-rupee"></i> 799</p>
							<button type="button" class="btn btn-danger">Add to cart</button>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="thumbnail">
						<img src="./image/ladies 8.jpg" alt="ladies">
						<div class="caption">
							<h3>Jeans</h3>
							<p>Price: <i class="fa fa-rupee"></i> 949</p>
							<button type="button" class="btn btn-danger">Add to cart</button>
						</div>
					</div>
				</div>
			</div>
			<div class="row text-center">
				<div class="col-md-3 col-sm-6">
					<div class="thumbnail">
						<img src="./image/ladies 9.jpg" alt="ladies">
						<div class="caption">
							<h3>Jeans</h3>
							<p>Price: <i class="fa fa-rupee"></i> 1349</p>
							<button type="button" class="btn btn-danger">Add to cart</button>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="thumbnail">
						<img src="./image/ladies 11.jpg" alt="ladies">
						<div class="caption">
							<h3>Jeans</h3>
							<p>Price: <i class="fa fa-rupee"></i> 649</p>
							<button type="button" class="btn btn-danger">Add to cart</button>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="thumbnail">
						<img src="./image/footwear.jpg" alt="ladies">
						<div class="caption">
							<h3>Flats</h3>
							<p>Price: <i class="fa fa-rupee"></i> 1300</p>
							<button type="button" class="btn btn-danger">Add to cart</button>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="thumbnail">
						<img src="./image/footwear 2.jpg" alt="ladies">
						<div class="caption">
							<h3>Heels</h3>
							<p>Price: <i class="fa fa-rupee"></i> 1240</p>
							<button type="button" class="btn btn-danger">Add to cart </button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer class="footer">
			Copyright<span class="glyphicon glyphicon-copyright-mark"></span>; EKart. All Rights Reserved.
		</footer>
	</body>
</html>