.footer
{
    position: fixed;
	padding: 10px 0;
	text-align: center;
	bottom: 0;
	background-color:#435560;
	color:white;
	width: 100%;
}
.nave{
    background-color:#435560;
}
.panel-title
{ 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 50px;
}
